.wrapper{
    text-align: center;
    margin-top: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button_block{
    width: 175px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
}

.button button{
    width: 78px;
}